:root {
    --color-moss-green: #5D8736;
    --color-leaf: #809D3C;
    --color-light-olive: #A9C46C;
    --color-greenish-yellow: #F4FFC3;
    --color-white: #ffffff;
}

body {
    margin: 0;
    padding: 0;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 128px);
    grid-template-rows: repeat(3, 128px);
    gap: 1px;
}

.cell {
    border: 2px solid var(--color-white);
    font-size: 2rem;
    color: var(--color-white);

    display: flex;
    justify-content: center;
    align-items: center;
}