@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-moss-green: #5D8736;
    --color-leaf: #809D3C;
    --color-light-olive: #A9C46C;
    --color-greenish-yellow: #F4FFC3;
    --color-white: #ffffff;

    --cell-border-radius: 8px;

    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-leaf);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > h1 {
    color: var(--color-white);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 128px);
    grid-template-rows: repeat(3, 128px);

    box-shadow: var(--color-greenish-yellow) 0px 3px 8px;
    border-radius: var(--cell-border-radius);
}

.cell {
    border: 2px solid var(--color-white);
    font-size: 2rem;
    color: var(--color-white);

    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:nth-child(1) {
    border-top-left-radius: var(--cell-border-radius);
}

.cell:nth-child(3) {
    border-top-right-radius: var(--cell-border-radius);
}

.cell:nth-child(7) {
    border-bottom-left-radius: var(--cell-border-radius);
}

.cell:nth-child(9) {
    border-bottom-right-radius: var(--cell-border-radius);
}